.button {
    background-color: #80B636;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
.button:hover {
    background-color: #81b636de;
    color: #fff;
}

@media only screen and (max-width: 991px) {
    .nav-wrap {
        margin-bottom: 20px !important;
    }
    .button {
        margin-bottom: 20px !important;
    }
}